# Intellij
.idea/libraries
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/vcs.xml

*.iml
*.iws
 
# Mac
.DS_Store

.idea
*.zip
*.txt

# Maven
log/
target/